.table-container[b-wt0r8xa5c8] {
    margin: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: min-content;
    overflow: auto;
}

table[b-wt0r8xa5c8] {
    width: 100%;
}

thead[b-wt0r8xa5c8] {
    position: sticky;
    top: 0;
}

.table-title[b-wt0r8xa5c8] {
    background-color: white;
}

.table-columns-names[b-wt0r8xa5c8] {
    background-color: rgb(229, 237, 243);
}

tr td:first-child[b-wt0r8xa5c8] {
    width: 75%;
}