.table-container[b-ynnwji95pg] {
    margin: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 506px;
    overflow: auto;
}

table[b-ynnwji95pg] {
    width: 100%;
}

thead[b-ynnwji95pg] {
    position: sticky;
    top: 0;
}

.table-title[b-ynnwji95pg] {
    background-color: white;
}

.table-columns-names[b-ynnwji95pg] {
    background-color: rgb(229, 237, 243);
}