<div class="table-container">
    <table>
        <thead>
            <tr class="table-title">
                <th colspan="2">Accounts and cards</th>
            </tr>
            <tr class="table-columns-names">
                <th>Categories</th>
                <th>Limit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Education</td>
                <td>R$ 500,00</td>
            </tr>
            <tr>
                <td>Medicines</td>
                <td>R$ 120,00</td>
            </tr>
            <tr>
                <td>Food</td>
                <td>R$ 100,00</td>
            </tr>
        </tbody>
    </table>
</div>