.button-add-transaction {
    background-color: #4491b2;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5rem;
}

.button-add-transaction:active {
    background-color: #2a5c71;
}