@inject IDbContextFactory<FinancialOrganizerDbContext> dbContextFactory

<div class="table-container">
    <table>
        <thead>
            <tr class="table-title">
                <th colspan="2">Categories</th>
            </tr>
            <tr class="table-columns-names">
                <th>Categories</th>
                <th>Limit</th>
            </tr>
        </thead>
        <tbody>
            @if (categories is not null)
            {
                @foreach (var category in categories)
                {
                    <tr>
                        <td>@category.CategoryName</td>
                        <td>R$ @category.AmountLimit</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No categories found</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Categories>? categories;

    protected override async Task OnInitializedAsync()
    {
        using (var dbContext = dbContextFactory.CreateDbContext())
        {
            categories = await dbContext.Categories.ToListAsync();
        }
    }
}