.month-balance-panel {
    width: 50vw;
    border: none;
    border-radius: 5px;
    align-content: space-between;
    margin: 1rem;
}

.balance-panel {
    display: flex;
    flex-direction: row;
}

.balance-card, .income-card, .outcome-card {
    flex: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1rem;
}

.income-card {
    margin: 0 1vw;
}