<div class="month-balance-panel">
    <h1>Month</h1>
    <div class="balance-panel">
        <div class="balance-card">
            <p>Balance</p>
            <div>R$ 1000,00</div>
        </div>
        <div class="income-card">
            <p>Income</p>
            <div>R$ 2000,00</div>
        </div>
        <div class="outcome-card">
            <p>Outcome</p>
            <div>R$ 1000,00</div>
        </div>
    </div>
</div>