<div class="table-container">
    <table>
        <thead>
            <tr class="table-title">
                <th colspan="5">Transactions</th>
            </tr>
            <tr class="table-columns-names">
                <th>Product</th>
                <th>Price</th>
                <th>Category</th>
                <th>Payment Method</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>College</td>
                <td>R$ 500,00</td>
                <td>Education</td>
                <td>Credit - Nubank</td>
                <td>05/01/2024 16:30</td>
            </tr>
            <tr>
                <td>Uber</td>
                <td>R$ 15,00</td>
                <td>Transport</td>
                <td>Credit - Nubank</td>
                <td>24/01/2024 09:40</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>--------</td>
                <td>--------</td>
                <td>---------------</td>
                <td>----------------</td>
            </tr>
        </tbody>
    </table>
</div>