.table-container {
    margin: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 506px;
    overflow: auto;
}

table {
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
}

.table-title {
    background-color: white;
}

.table-columns-names {
    background-color: rgb(229, 237, 243);
}