/* _content/financial-organizer/Components/MonthBalancePanel.razor.rz.scp.css */
.month-balance-panel[b-vbgk4ov2u4] {
    width: 50vw;
    border: 0px solid lightgray;
    border-radius: 5px;
    align-content: space-between;
    margin: 0.5rem;
}

.month-balance-panel h1[b-vbgk4ov2u4] {
    margin: 0.5rem;
}

.balance-panel[b-vbgk4ov2u4] {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

.balance-card[b-vbgk4ov2u4], .income-card[b-vbgk4ov2u4], .outcome-card[b-vbgk4ov2u4] {
    flex: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1rem;
}

.income-card[b-vbgk4ov2u4] {
    margin: 0 1vw;
}
