@page "/"

<PageTitle>Home</PageTitle>

<MonthBalancePanel />
<div class="add-transaction-button"><AddTransactionButton /></div>
<div class="bottom-panels">
    <TransactionsComponent /><CategoriesComponent /><AccountsAndCardsComponent />
</div>
<TransactionsModal />