* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: calc(100vh - 1rem);
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
} */

/* Input* components sytle of transactions modal */
.form .transaction-inputs {
    height: 2rem;
    margin: 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.transaction-description input {
    width: 10rem;
}

.transaction-price input {
    width: 4rem;
}

.transaction-date-and-time input {
    width: 7rem;
}

.transaction-category select {
    width: 9rem;
}

.transaction-payment-method select {
    width: 9rem;
}